.delete_item__container {
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
  display: flex;
}

.delete_item__text {
  margin-bottom: 30px;
  color: var(--done);
}

.delete_item__btns {
  justify-content: space-around;
  margin-top: 30px;
  display: flex;
}

.delete_item__btn {
  transition: transform 0.8s ease;
  border: 2px solid var(--done);
  border-radius: 25px;
  color: var(--done);
  font-weight: 500;
  font-size: 18px;
  width: 120px;
  height: 35px;
}

.delete_item__btn_delete {
  border: 2px solid var(--background-percentage);
  color: var(--background-percentage);
}

.delete_item__btn:hover {
  transform: scale(1.1);
}
