:root {
  --positive-item: #b7dbe1;
  --negative-item: #272727;
  --color-item: #FFFFFF;
  --background-percentage: #dc1818;
  --background-banner: #27272787;
  --done: #5ac2d4;
  --body-background: #0b0b0b;
}
