:root {
  --positive-item: #2DCDDF;
  --negative-item: #F24C4C;
  --color-item: #F7F5F2;
  --background-percentage: #dc1818;
  --background-layer: #4800ff21;
  --done: #03C988;
  --table-container-background: #F0F3FF;
  --footer-background: #2D2F31;
}
